@use "../../../src/styles/variables" as *;
@use "../../styles/mixins" as *;

.dropdown {
  width: 12rem;
  // appearance: none;
  background: transparent url("../../assets/icons/triangleUpsideDown.svg")
    no-repeat 90% center;

  padding: 1rem;
  padding-left: 3rem;
  border-radius: 2rem;
  &:focus-within {
    // background-image: url("../../assets/icons/Untitled.svg");
    // background-repeat: no-repeat, repeat;
    // background-position: right 0.8em top 50%, 0 0;
    // background-size: 2em auto, 100%;
    // background: transparent url("../../assets/icons/edgar.svg") no-repeat 90%
    //   center;
    padding-left: 1rem;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .dropdown__option:last-child {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

// .dropdown {
//   width: 50%;
//   padding: 1rem;
//   display: flex;
//   flex-direction: column;
//   border-radius: 2rem;
// }

.dropdown__link-text {
  align-self: center;
  width: 60%;
}
.dropdown__link--secondary {
  padding: 1rem;
}

.dropdown__content {
  .dropdown__link--secondary:last-child {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
