@use "../../../src/styles/variables" as *;

.about {
  padding: 1rem;
  height: 100%;
}
.about__container {
  background-color: $white;
  border-radius: 2rem;
  border: solid $black 0.125rem;
  padding: 1rem;
  height: 100%;

  .about__heading {
    font-weight: 700;
    font-size: 1rem;
  }
}
