@use "../../styles/variables" as *;
.newuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    height: 50%;
    width: 80%;
    &--content {
      position: relative;
      top: 5rem;
    }
  }
  &__logo {
    width: 50%;
  }

  &__buttons {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2.5rem;
  }
}
