@use "../../styles/variables" as *;

.manage-account {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
}
