@use "../../styles/variables" as *;

.manage-account {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
}
.manage-account__heading {
  margin-left: 1.5rem;
  font-family: $header-font-family;
  font-weight: $large-font-weight;
  font-size: $title-font-size;
}

.manage-account__button-container {
  height: 70%;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
