@use "../../../src/styles/reset" as *;
@use "../../../src/styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
  font-family: $text-font-family;
  background-color: $background-color;
  width: 9rem;
  height: 3rem;
  font-size: $default-text-size;
  border: 0.1rem solid $button-border;
  border-radius: 1.7rem;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
  &:active {
    border: 0.2rem solid $white;
    opacity: 0.4;
  }
}

.button--contact {
  height: 4rem;
  margin: auto;
  width: 12rem;
  color: $white;
  background-color: $green;
  border-color: $green;
  font-size: 3rem;
  font-weight: $default-font-weight;
}
