@use "../../../src/styles/reset" as *;
@use "../../../src/styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.button {
  background-color: $background-color;

  width: 9rem;

  height: 3rem;

  font-size: $default-text-size;

  padding: 10px 20px;

  border: solid black;
}

.button-contact {
  font-family: $text-Font-Family;
  color: $text-color;

  background-color: $green-color-palette;

  width: 14rem;

  height: 4.75rem;

  font-size: 3rem;

  font-weight: $default-font-weight;

  padding: 10px 20px;

  border-radius: 25px;

  border: none;
}
