@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.menu {
  position: absolute;
  z-index: 100000;
  width: 90%;

  &__app-logo {
    height: 3rem;
  }
  &__close {
    width: 15%;
    height: 2rem;
  }
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
  }
  &__option {
    padding-left: 0.3rem;
    font-family: $text-font-family;
    font-size: $default-text-size;
    font-weight: $light-font;
  }

  &__app-title {
    display: inline-block;
    text-align: center;
    font-family: $text-font-family;
    font-size: $sub-header-text-size;
    font-weight: $light-font;
  }

  &__header,
  &__page {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    text-decoration: none;
  }

  &__logo {
    width: 1.1rem;
    height: 1.1rem;
  }

  &__arrow {
    width: 1.3rem;
    height: 1.3rem;
  }

  &__logo,
  &__arrow {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
  &__home,
  &__about,
  &__favourites,
  &__info,
  &__contact {
    padding: 0.6rem 1rem;
  }
  &__search,
  &__info,
  &__contact {
    border-top: none;
  }

  &__app-title {
    @include text-header;
  }
}
.menu > :nth-child(even) {
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
}
