@use "../../styles/variables" as *;

.menu {
  border: 2px solid red;
  border-radius: 1rem;

  &-header {
    display: flex;
    flex-direction: row;
  }

  &-home {
    display: flex;
    flex-direction: row;
  }

  &-search {
    display: flex;
    flex-direction: row;
  }
}
