@use "../../styles/variables" as *;
.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: $background-color;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    height: 50%;
    width: 80%;
  }
  &__logo {
    width: 50%;
  }

  &__buttons {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
