@use "./variables" as *;

@mixin text-normal {
  font-family: $text-font-family;
  font-weight: $default-font-weight;
  font-size: $default-text-size;
}

// simply use "@include set-background" in any styling its required.
@mixin set-background {
  background: $background;
  background: $background-gradient;
}
