@use "./variables" as *;

// Text mixins
// mixing for most text on the website - Everything but the "LOCAL" title and Contact page header

@mixin text-normal {
  font-family: $text-font-family;
  font-weight: $default-font-weight;
  font-size: $default-text-size;
}

@mixin Local-Title-Text {
  font-family: $Local-Title-font-family;
  font-weight: $default-font-weight;
  font-size: $local-title-text-size;
}

@mixin Contact-Header-Text {
  font-family: $header-font-family;
  font-weight: $bold-font;
  font-size: $header-text-size;
}

// simply use "@include set-background" in any styling its required.

@mixin set-background {
  background: $background;
  background: $background-gradient;
}
