@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$text-color: #f3f2e8;
$background-color: #1f1b1b;

// base Colours
$white: #f3f2e8;
$black: #1f1b1b;

$green-color-palette: #5bb27c;

/*                          Font stuff              */

// font families

$header-Font-Family: "Roboto", "sans-serif";
$text-Font-Family: "Inter", "sans-serif";

// Font weights
$very-bold-font: 800;
$bold-font: 700;
$default-font-weight: 400;
$light-font: 300;

// font size
$default-text-size: 1rem;
$sub-header-text-size: 1.5rem;
$header-text-size: 2rem;
