@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

/*                          Colours                         */

//colors
$button-text-color: #f3f2e8;
$text-color: #000000;

// Background Gradient color - SEE MIXINS FOR EASY USE
$background: rgb(236, 148, 114);
$background-gradient: linear-gradient(
  152deg,
  rgba(236, 148, 114, 1) 0%,
  rgba(224, 95, 30, 1) 100%
);
// base Colours
$white: #f3f2e8;
$black: #1f1b1b;

$green-color-palette: #5bb27c;

// button coloration
$button-border: black;

/*                          Font stuff              */

// font families

$header-font-family: "Roboto";
$text-font-family: "Inter";

// Font weights
$very-bold-font: 800;
$bold-font: 700;
$default-font-weight: 400;
$light-font: 300;

// font size
$default-text-size: 1rem;
$sub-header-text-size: 1.5rem;
$header-text-size: 2rem;
