@use "../../styles/variables" as *;

.home-list-view__search--bar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  .home-list-view__map-icon {
    position: absolute;
    height: 2.5rem;
    margin-left: 1rem;
    z-index: 2;
  }
}
.home-list-view__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0 1rem;
}
