@use "../../../src/styles/variables" as *;
@use "../../styles/mixins" as *;

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: 2px solid $black;
  border-radius: 1.7rem;
  background-color: $white;
  padding: 1rem;

  .card__header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    .card__heading {
      flex-grow: 1;
      font-weight: bold;
      background-color: $green;
      color: $alternate-text-color;
      border-radius: 1.7rem;
      padding: 0.7rem;
      width: 80%;
      margin: auto;
      &--food {
        background-color: $yellow;
        color: $text-color;
      }
      &--culture {
        background-color: $purple;
        color: $alternate-text-color;
      }
    }
    .card__image-container {
      padding: 0.5rem;
      .card__image {
        margin: auto;
      }
    }
  }

  .card__text {
    margin-bottom: auto;
    width: 100%;
    padding: 0 0.7rem;
    flex-grow: 1;
  }
  .card__text--adress {
    font-style: italic;
    font-weight: bold;
    flex-grow: 0;
  }
  .card__buttons-container {
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
  }
}
.card--favourites,
.card--home-list-view {
  margin-bottom: 0.5rem;
}
.card--home {
  margin: 0.5rem;
  height: 10rem;
}
