@use "../../styles/variables" as *;

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10%;
  }

  &__logo {
    width: 50%;
    height: 55%;
  }

  &__input-field {
    border-style: solid;
    border-radius: 2rem;
    margin: 2rem auto;
    width: 90vw;
  }

  &__buttons {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
  }
}