@use "../../../src/styles/reset" as *;
@use "../../../src/styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.text-field {
  font-family: $text-font-family;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0.4rem;

  &__label,
  &__input {
    color: $text-color;
    @include text-normal;
    padding: 0.3rem;
  }

  &__label {
    align-self: flex-start;
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
  }

  &__input {
    height: 3.5rem;
    width: 100%;
    display: block;
    background-color: $white;
    border-style: none;
    border: 0.125rem solid $black;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);

    &--large {
      height: 7rem;
    }
  }
  &__input--signin {
    border-style: none;
    border-radius: 1rem;
  }
}
